<%- include('head') %>
  <%- include('header') %>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <h2>Projeto</h2>
        <p>Esse projeto é para ser utilizado para o Desafio IBM para o Supermercado Vila Yara</p>
      </div><!-- /.col-lg-4 -->

        <h2>Membros</h2>
        <ul>
          <li>Alessandra</li>
          <li>Carolina</li>
          <li>Daiane</li>
          <li>Natalia</li>
        </ul>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">

        <h2>Repositórios</h2>
        <p><a href="https://github.com/Alessandragr/Vila-Yara.git">Vila-Yara.git (front-end)</a></p>
        <p><a href="https://github.com/sabinonatalia/market-vila-yara">Vila-Yara.git (back-end)</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  </div><!-- /.container -->

  <script src="../bootstrap.bundle.min.js"></script>
  <%- include('footer') %>
</body>
